doctype html
html(class="no-js", lang="ru")

    include ../../components/head/head
    include ../../components/header/header
    include ../../components/article_post/article_post
    include ../../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('guides')
            //- https://vk.com/guardianfm?w=wall-89578598_121825

            section.l-grid--content
                article.c-article
                    h2.c-article__title Синтез

                    .c-article__content
                        +article_img('infuse_small.jpg', 'infuse.jpg')

                        +article_text('Синтез нужен, если вы хотите увеличить параметр Силы на своем легендарном или экзотическом оружии или броне. Допустим, у вас есть совершенно ненужный синий шлем на 260 Силы, а ваш текущий красивый экзотический шлем всего 230. Вы используете Синтез на экзотическом шлеме, а в качестве ресурса используете тот самый ненужный синий шлем. Игра сама подскажет вам, какие вещи вы можете использовать для Синтеза. Например, не получится прокачать шлем Титана шлемом Варлока. Шлем Титана можно прокачать только шлемом Титана.')

                        +article_text('Так что же мы получим в итоге, когда улучшим наш экзотический шлем? Правильный ответ – шлем с силой 265! Почему? Давайте разберемся. Если вы заметили, то почти у каждого экзотического предмета есть легендарный модификатор, увеличивающий параметр Силы на 5. Этот модификатор никак не учитывается при Синтезе. Для процесса Синтеза ваш экзотический шлем имеет Силу 225. Синтез, при использовании шлема 260, преобразует шлем с Силой 225 в шлем с Силой 260. Модификатор при этом никуда не денется и все так же будет добавлять +5 к вашему параметру Силы. В итоге получаем 260 + 5 = 265.')

                        +article_text('Схема эта работает и в обратном направлении, если вы хотите прокачать легендарный предмет с помощью экзотического, не забывайте о модификаторе +5. Если вы собираетесь прокачать легендарный шлем 250 экзотическим шлемом 270, на выходе вы получите всего лишь шлем с уровнем силы 265. Модификатор +5, к сожалению, не переносится.')

                        +article_text('Легендарные модификаторы – хороший способ поднять общий уровень Силы, но получить их довольно сложно. Синие модификаторы, которые не дают бонусов к силе и меняют только тип урона или брони, можно поменять у Банши-44 в пропорции 3 к 1 (три синих на один легендарный), но обмен этот будет доступен только после достижения Силы 280. Покупайте всегда на весь лишний Блеск случайные синие модификаторы, и в будущем вы сможете поменять их на гораздо более полезные легендарные.')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
