doctype html
html(class="no-js", lang="ru")

    include ../../components/head/head
    include ../../components/header/header
    include ../../components/article_post/article_post
    include ../../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('guides')
            //-https://vk.com/guardianfm?w=wall-89578598_120881

            section.l-grid--content
                article.c-article
                    h2.c-article__title Король, MIDA, Штурм

                    .c-article__content
                        +article_img('king_mida_assault_small.jpg', 'king_mida_assault.jpg')

                        +article_text('Страж, внимание. После завершения основной сюжетной компании «Красный Легион» становятся доступны 3 цепочки поручений, за прохождение которых тебя наградят экзотическим оружием. Что и как нужно для этого сделать – читай ниже:')

                        +article_subtitle('Европейская Мёртвая Зона, Земля. <br>' +
                        'Экзотическое оружие - Универсальный инструмент MIDA.')

                        +article_img('mida_small.jpg', 'mida.png')

                        +article_text('Шаг 1: Пройти цепочку поручений «Улучшение!» (в награду ты получишь Мини-инструмент MIDA),')

                        +article_text('Шаг 2: Отправляйся к Банши-44 – Используя винтовку разведчика, совершай Меткие убийства и убийства без перезарядки,')

                        +article_text('Шаг 3: Отправляйся к Банши-44 – Разбери 5 редких или легендарных винтовок разведчика,')

                        +article_text('Шаг 4: Отправляйся к Банши-44 – Убивай противников в воздухе, используя пистолет-пулемёт (коим и является Мини-инструмент MIDA,')

                        +article_text('Шаг 5: Получи Универсальный инструмент MIDA у Банши-44.')

                        +article_subtitle('Титан<br>' +
                        'Экзотическое оружие – Крысиный Король.')

                        +article_img('ratking_small.jpg', 'ratking.jpg')

                        +article_text('Шаг 1: Пройти цепочку поручений «Враг моего врага» (в награду ты получишь предмет «Отряд Крысиного Короля»), <br>' +
                        '- Внимание: Все дальнейшие задачи должны быть выполнены в Боевой группе,')

                        +article_text('Шаг 2: Выполнить 3 патруля,')

                        +article_text('Шаг 3: Выполнить 3 Открытых мероприятия,')

                        +article_text('Шаг 4: Поучаствовать или выиграть 2 матча в Горниле (Режим «Быстрая игра» учитывается),')

                        +article_text('Шаг 5: Выполнить Сумрачный Налёт, имея в запасе не меньше 5 минут.')

                        +article_subtitle('Несс<br>' +
                        'Экзотическое оружие – Штурм.')

                        +article_img('sturm_small.jpg', 'sturm.jpg')

                        +article_text('Шаг 1: Пройти цепочку поручений «Черный Исход» (в награду ты получишь пистолет «Натиск»),')

                        +article_text('Шаг 2: Поговори с Мастером Рахулом,')

                        +article_text('Шаг 3: Расшифруй 5 легендарных и 1 экзотическую энграмму,')

                        +article_text('Шаг 4: Убей с помощью «Натиска» 10 Падших на Нессе,')

                        +article_text('Шаг 5: Поговори с Тирой Карн на Ферме,')

                        +article_text('Шаг 6: Убей Падших без перезарядки и 10 Высших Падших на Нессе,')

                        +article_text('Шаг 7: Вернись к Тире,')

                        +article_text('Шаг 8: Победи Сервитора в специальном Налёте на Нессе,')

                        +article_text('Шаг 9: Вернись к Тире и получите «Штурм».')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
