doctype html
html(class="no-js", lang="ru")

    include ../../components/head/head
    include ../../components/header/header
    include ../../components/article_post/article_post
    include ../../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('guides')
            //-https://vk.com/guardianfm?w=wall-89578598_120881

            section.l-grid--content
                article.c-article
                    h2.c-article__title Руководство по Открытым мероприятиям

                    .c-article__content
                        +article_img('public_event_small.jpg', 'public_event.jpg')

                        +article_text('Один из возможных типов заданий, который вы найдете на карте – Открытые мероприятия (или Public Events в английской версии). Через короткий промежуток времени после появления значка на карте запуск этого задания можно активировать вручную с помощью флага. В большинстве Открытых мероприятий есть модификатор, который позволяет увеличить сложность, но для его активации нужно выполнить задание. За участие в Открытых мероприятиях с повышенной сложностью вы получите большее количество опыта и более крутые шмотки. ')

                        +article_subtitle('Добыча блеска (Glimmer Drill)')

                        +article_text('Для выполнения достаточно убить всех отмеченных специальным значком Павших до того, как закончится время.')

                        +article_text('Активация модификатора повышенной сложности: перед убийством Павших разрушьте установки по добыче блеска.')

                        +article_subtitle('Пополнение запасов эфира (Ether Resupply)')

                        +article_text('Для выполнения достаточно убить огромного Сервитора.')

                        +article_text('Активация модификатора повышенной сложности: убейте трех маленьких Сервиторов до того, как они исчезнут.')

                        +article_subtitle('Раскопки кабал (Cabal Excavation).')

                        +article_text('Для выполнения нужно захватить буровую установку Кабал. Стойте в зоне и отстреливайтесь от врагов.')

                        +article_text('Активация модификатора повышенной сложности: необходимо убить маленький корабль Кабал. Не волнуйтесь, если не успеете убить его сразу, он вернется на второй заход. После его уничтожения появится огромный кабал, которого надо убить до того, как закончится время. ')

                        +article_subtitle('Обмен оружием (Destroy The Devil Walker)')

                        +article_text('Для выполнения нужно уничтожить Ходока. Отстрелите одну из шести лап, после ее уничтожения откроется реактор, по которому так же нужно стрелять из любого доступного оружия.')

                        +article_text('Активация модификатора повышенной сложности: перед убийством Ходока необходимо снять три щита вокруг него. При уничтожении одной из лап выпадает три энергетических шара: нужно поднести такой шар к одной из двух установок рядом с щитом. Когда будут сняты все три щита, прилетит еще один Ходок, которого нужно уничтожить до завершения отсчета времени. С помощью Скорч-пушек сделать это будет довольно легко и быстро. Не забывайте, что максимальный урон Скорч-пушка наносит если зажать кнопку выстрела (вы услышите писк) и отпустить ее через какое-то время. ')

                        +article_subtitle('Ведьминский ритуал (Witches Ritual Event)')

                        +article_text('Нужно убить двух Колдунов - их щиты можно снять, если зайти в зоны напротив. После убийства появится усиленный Колдун, которого нужно уничтожить.')

                        +article_text('Активация модификатора повышенной сложности: после убийства первых двух колдунов нужно разрушить два кристалла. Они находятся прямо над зеленым порталом. Уничтожить их можно, находясь в тех же зонах напротив. После разрушения кристаллов появится Рыцарь с огромным топором.')

                        +article_subtitle('Интеграция шпиля (Vex Tower Construction)')

                        +article_text('Нужно предотвратить постройку сооружения Векс, просто уничтожив всех вокруг.')

                        +article_text('Активация модификатора повышенной сложности: центральное сооружение излучает три луча света, нужно проследить за каждым из них. Там вы найдете платформу, которую нужно захватить, просто встав посередине (как в режиме Контроль). Активируйте все три платформы до того, как закончится строительство. Активация каждой из платформ вызовет появление более мощных Векс, а в конце появится Гидра.')

                        +article_subtitle('Впускной механизм (Injection Rig)')

                        +article_text('Для выполнения просто убейте всех Псиоников Кабал.')

                        +article_text('Активация модификатора повышенной сложности: один из самых сложных ивентов в Destiny 2. После того, как вы убьете одного из Псионов, откроются вентиляционные отверстия в верхней части механизма. Вы должны уничтожить их. После убийства следующего псиона вентиляционные отверстия откроются снизу. Их так же нужно уничтожить. После появится босс, которого надо убить до того, как закончится время. Помните - пока открыты вентиляционные отверстия, вы будете получать урон внутри купола. Будьте осторожны.')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
