doctype html
html(class="no-js", lang="ru")

    include ../../components/head/head
    include ../../components/header/header
    include ../../components/article_post/article_post
    include ../../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('guides')
            //-https://vk.com/guardianfm?w=wall-89578598_120881

            section.l-grid--content
                article.c-article
                    h2.c-article__title Командир-разведчик

                    .c-article__content
                        +article_text('На Ферме ты наверняка видел стражей с голубым свечением, которые перемещаются со скоростью света и прыгают, словно Майкл Джордан в свои лучшие годы? Хочешь познать эту деревенскую магию? Для этого необходимо выполнить следующее:')

                        +article_img('https://pp.userapi.com/c837426/v837426319/4af15/2EALgddvvD0.jpg')

                        +article_text('1) Запрыгнуть на мельничное колесо и пройтись против движения. Появятся 2 баффа «Караульный наряд х2» и «Мельничное колесо выполнено». Фиолетовое свечение позволяет тебе прыгать слегка выше.')

                        +article_img('https://pp.userapi.com/c837426/v837426319/4af1f/FAT1xq98pq8.jpg')

                        +article_text('2) Дальше переберись по кабелям на соседнее здание, а оттуда на крышу ангара. Постой там пару секунд, насладись видом и бафф «Головокружение» станет активным, а «Караульный наряд» увеличится до х4.')

                        +article_img('https://pp.userapi.com/c837426/v837426319/4af29/ilSlE1pLmJQ.jpg')

                        +article_text('3)Недалеко от причала есть небольшая зона отдыха с костром посередине. Присаживайся на диван, вспомни, как разносил в прах адептов Красного Легиона, взгляни на костёр и приступи к разведывательному дозору. Твоё фиолетовое свечение сменится на красное, и слева появится новый бафф «В разведывательном патруле»')

                        +article_img('https://pp.userapi.com/c837426/v837426319/4af33/zNGb7uiA5Nw.jpg')

                        +article_text('4) Перед тобой, Страж, появится голубой столб света – прыгай в него. Твой квест активирован. Найди ещё 9 таких же столбов света (мы не будем писать, где они расположены, так как верим в твои силы), и на последнем пункте тебя ждёт небольшой праздничный салют.')

                        +article_img('https://pp.userapi.com/c837426/v837426319/4af3d/h4hs7iH8qcE.jpg')

                        +article_text('Поздравляем, твой патруль окончен. Покажи всем на Ферме, как высоко ты можешь запрыгнуть, а местную дворовую футбольную команду – удиви скоростью своих ног.')

                        +article_text('Свечение станет голубым, а слева активным станет бафф «Командир-разведчик». Скорость передвижения и высота прыжка увеличены. Данный бафф действует до выхода из локации или же смерти на ней.')


            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();