doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_list/article_list
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('guides')

            section.l-grid.l-grid--content
                //- если элемент списка статей должен быть не активным, то на него вешается класс c-article-list__item--inactive

                .c-article-list
                    //-https://vk.com/guardianfm?w=wall-89578598_120881
                    +article_list_item(
                    'guides/scout-buff.html',
                    'scout_buff_small.jpg',
                    'Командир-разведчик'
                    )

                    //-https://vk.com/page-89578598_53512355
                    +article_list_item(
                    'guides/public-events.html',
                    'public_event_small.jpg',
                    'Руководство по Открытым мероприятиям'
                    )

                    //-https://vk.com/guardianfm?w=wall-89578598_121192
                    +article_list_item(
                    'guides/king-mida-assault.html',
                    'king_mida_assault_small.jpg',
                    'Король, MIDA, Штурм'
                    )

                    //-https://vk.com/guardianfm?w=wall-89578598_121246
                    +article_list_item(
                    'guides/ship.html',
                    'ship_small.jpg',
                    'Как заглянуть под днище своему кораблю'
                    )

                    //-https://vk.com/guardianfm?w=wall-89578598_121376
                    +article_list_item(
                    'guides/floor-is-lava.html',
                    'floor_is_lava.jpg',
                    'Пол это лава!'
                    )

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
